<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    
  </style>
  <title>Symbol Trades and PnL</title>
</head>
<body>
<div class="tableClass">
    <table>
        <thead>
          <tr class="top">
            <th >Symbol</th>
            <th>Total Trades</th>
            <th>PnL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>BANKNIFTY</td>
            <td>15</td>
            <td class="purple">₹5080</td>
          </tr>
          <tr>
            <td>RBL BANK</td>
            <td>06</td>
            <td>₹1870</td>
          </tr>
          <tr>
            <td>KOTAK BANK</td>
            <td>02</td>
            <td class="purple">₹1000</td>
          </tr>
          <tr>
            <td>YES BANK</td>
            <td>01</td>
            <td>₹800</td>
          </tr>
        </tbody>
      </table>

</div>

</body>
</html>
